* {
	font-family: "Roboto", monospace;
	font-size: 15px;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

/*NAVBAR HERE*/

#navbar1 {
	font-family: "Roboto Medium", monospace;
	color: black;
}

#navbar2 {
	font-family: "Roboto Medium", monospace;
	color: black;
}

/*LANDING SECTION HERE*/

#carlo-corcuera {
	background-color: white;
}

#introhighlight {
	font-weight: 900;
}

#landingtext1 {
  font-family: "Roboto Medium", monospace;
  font-weight: 900;
  color: black;
}

#landingtext2 {
	font-family: "Poppins", monospace;
	font-size: 30px;
	font-style: italic;
}

/*ABOUT SECTION HERE*/

#section-2 {
	background: white;
}

#abouttext1 {
	font-family:  "Roboto Medium", monospace;
	font-size: 60px;
	font-weight: 900;
	font-style: italic;
	color: black;
	text-decoration: underline;
}

#abouttext2 {
	font-family: "Roboto Light", monospace;
	font-size: 20px;
}

.paragraph-about-me  {
	font-family: "Roboto Light", monospace;
	font-size: 15px;
}

#highlight {
	font-weight: 900;
	font-style: italic;
}

/*PROJECTS HERE*/

#projecttext1 {
	font-family:  "Roboto Medium", monospace;
	font-size: 60px;
	font-weight: 900;
	font-style: italic;
	color: black;
	text-decoration: underline;
}

/*CONTACT HERE*/

#contacttext1 {
	font-family:  "Roboto Medium", monospace;
	font-size: 60px;
	font-weight: 900;
	font-style: italic;
	color: black;
	text-decoration: underline;
}

#contactbox {
	background-color: #000000;
	border-radius: 50px;
	font-family:  "Roboto", monospace;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#contactboxtext1 {
	font-family: "Roboto", monospace;
	font-size: 50px;
	color: white;
}

#contactboxbutton1 {
	font-family: "IBM Plex Sans", monospace;
	border-radius: 10px;
	margin: 10pt;
	font-weight: bold;
	color: white;
}

#contactboxtext2 {
	font-family: "IBM Plex Sans", monospace;
	font-size: 15px;
	font-style: italic;
}

#contactboxbutton2 {
	font-family: "IBM Plex Sans", monospace;
	border-radius: 30px;
	font-weight: bold;
	color: black;
}

#exampleModal {
	font-family: "Roboto", monospace;
	border-radius: 30px;
}

#modalbutton1 {
	color: white;
	font-family: "IBM Plex Sans", monospace;
	border-radius: 30px;
}

#footertext1 {
	font-family: "Roboto Medium", monospace;
	color: #2C3333;
}

#footertext2 {
	font-family: "IBM Plex Sans", monospace;
	font-size: 20px;
	font-weight: bold;
	color: #2C3333;

}